.img_statica-container {
  background-image: url("./hades.png");
  height: 50vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}

@media (max-width: 1024px) {
  .img_statica-container {
    height: 40vh;
    background-attachment: fixed;
    background-size:  100% 100%;
    background-repeat: no-repeat; 
  }
}

@media (max-width: 600px) {
  .img_statica-container {
    height: 30vh;
    background-attachment: fixed;
    background-size:  100% 100%;
    background-repeat: no-repeat; 
  }
}
