.contenedor-principal {
    display: flex;
    width: 99.5vw;
    height: 100vh;
    background-color: black;
    color: white;
    background-image: url("https://cdn.discordapp.com/attachments/1120503923942371369/1395188754758504568/carrusel.jpg?ex=68798a48&is=687838c8&hm=dbb0abc76c33c7ecc5530f4db82ea202720535259d0ab522ec183d16acc80e04&");
    
    background-size:  100% 100%;
    margin-left: calc(-50vw + 50%);
}

.contenedor-texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    background-size: cover;
    background-position: center;
}


.contenedor-texto .rating {
    font-size: 1.3rem;
    color: white;
}

.contenedor-carrusel {
    flex: 1;
    position: relative;
    padding: 40px 60px;
}

.slide-derecha img {
    width: 100%;
    object-fit: cover;
    height:89.2vh ; 
}

.botones {
    position: absolute;
    bottom: 40px;
    right: 60px;
    display: flex;
}

.boton-anterior{
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: orange;
}
.boton-siguiente {
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #e74c3c;
}

.boton-anterior:hover{
    background-color: black;
}

.boton-siguiente:hover {
    background-color: black;
}

@media (max-width: 1024px) {
  .contenedor-principal {
    flex-direction: column;
    height: auto;
    background-size:  100% 100%;
    background-repeat: no-repeat; 
  }

  .contenedor-texto,
  .contenedor-carrusel {
    padding: 30px;
  }

  .slide-derecha img {
    height: 260px; 
  }

  .botones {
    position: static;
    justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .contenedor-principal {
    background-size:  100% 100%;
    background-repeat: no-repeat; 
  }
  .contenedor-texto h1 {
    font-size: 2rem;
  }

  .contenedor-texto .rating {
    font-size: 1rem;
  }

  .slide-derecha img {
    height: 200px;
  }

  .boton-anterior,
  .boton-siguiente {
    padding: 8px 12px;
    font-size: 1rem;
  }}