body{
    background-image: url('https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141353.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);

}