.card-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.card-image-wrapper img {
  transition: transform 0.5s ease;
}

.blog-card:hover .card-image-wrapper img {
  transform: scale(1.1);
}