.navbarstyle { 
    padding: 20px;
}

.nabvar-link{
    text-decoration: none;
    color: rgb(81, 81, 81);
    cursor: pointer;
    padding: 10px;
    padding-bottom: 0px;
}

.nabvar-link:hover{
    color: tomato;
    text-decoration: none;
}

.navbar-boton{
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}

.navbar-boton:hover{
    background-color: rgb(175, 0, 0);
}

.navbar-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}