body{
    background-image: url('https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141353.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    
}


@media only screen and (max-width: 1200px) {
    
    body{
        background-repeat:repeat-y;
        backdrop-filter: blur(5px);
    }
}

@media only screen and (max-width: 500px) {
    
    body{
        background-repeat:repeat-y;
        backdrop-filter: blur(5px);
        overflow: scroll;
    }
}